@import url("../../style/variable.css");

.container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.players-list__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.players-list__title {
  color: var(--balck);
}

.MuiButton-root.add {
  padding: 3px 5px;
  color: var(--blue);
  text-transform: none;
  border: 2px solid var(--blue);
}

.MuiButton-root.add:hover {
  background-color: var(--blue);
  color: var(--white);
}

.cell--action.MuiTableCell-root{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.players-list {
  width: 100%;
}

.player-list .image img {
  width: 10%;
  height: 20%;
}

.player-list .MuiPaper-root {
  min-height: 420px;
}

.table-player {
  width: 100px;
}

td.MuiTableCell-root,
th.MuiTableCell-root {
  border: 1px solid var(--grey);
  text-align: left;
}

.players-list__btn {
  min-width: 64px;
  text-decoration: none;
  border-radius: 4px;
  line-height: 1.75;
}

.profile {
  padding: 2px 10px;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  text-transform: capitalize;
  text-align: center;
}

.profile:hover {
  background-color: var(--yellow);
  color: var(--white);
}

.MuiButton-root.delete {
  margin: 5px 0;
  padding: 0;
  color: var(--red);
  border: 2px solid var(--red);
  text-transform: capitalize;
}

.MuiButton-root.delete:hover {
  background-color: var(--red);
  color: var(--white);
}

@media only screen and (min-width: 375px) {
  .MuiButton-root.delete {
    margin: 0 5px;
  }
}

@media only screen and (min-width: 720px) {
  .players-list {
    width: 520px;
  }
  .MuiButton-root.delete {
    padding: 2px 0;
  }
}
