@import url("../../style/variable.css");

.random-player__container {
  padding-top: 100px;
}

.random-players__choosen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-players__title {
  margin: 10px 0;
  color: var(--white);
}

.random-player__text {
  font-size: 20px;
  color: var(--white);
  padding-bottom: 20px;
}

.choosen-player {
  display: block;
}

.choosen-player .player-name {
  padding-bottom: 10px;
  font-size: 16px;
  color: var(--white);
}

.choosen-player .player-image {
  height: 200px;
  width: 200px;
}

.player-name span {
  font-weight: bold;
}

.MuiButton-root.btn {
  text-transform: capitalize;
  border: 2px solid var(--blue);
  background: var(--white);
  color: var(--blue);
}

.MuiButton-root.btn:hover {
  color: var(--white);
  background: var(--blue);
}

.MuiButton-root.Mui-disabled {
  border: 2px solid var(--grey-dark);
}

.pick__manual-players {
  padding-top: 20px;
  color: var(--white);
}

.pick__manual-players .MuiFormLabel-root {
  color: rgb(9, 18, 133);
  font-weight: bold;
}

.pick__manual-players .MuiFormControl-root .MuiSelect-select {
  background: white;
}

.pick__manual-players .MuiFormControl-root .Mui-disabled {
  cursor: no-drop;
}

.image--deafult {
  width: 100%;
}

.btn-modal {
  margin: 10px 0;
}

.btn--position-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn--position-center > button {
  margin: 10px 10px;
}

@media only screen and (min-width: 720px) {
  .random-players__choosen {
    flex-direction: row;
  }
  .choosen-player {
    margin: 30px 0;
    padding: 0 20px;
  }
  .image--deafult {
    width: 60%;
    margin-top: 20px;
  }
  .btn--position-center {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .btn--position-center > button {
    margin: 0px 10px;
  }
}
