@import url("../../style/variable.css");

.container-random-player {
  padding-top: 20px;
}

.random-players__choosen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-players__title {
  margin: 10px 0;
  color: var(--balck);
}

.choosen-player {
  display: block;
}

.choosen-player .player-name {
  padding-bottom: 10px;
  font-size: 14px;
}

.choosen-player .player-image {
  height: 200px;
  width: 200px;
}

.player-name span {
  font-weight: bold;
}

.MuiButton-root.btn {
  text-transform: capitalize;
  border: 2px solid var(--blue);
  background: var(--white);
  color: var(--blue);
}

.MuiButton-root.btn:hover {
  color: var(--white);
  background: var(--blue);
}

.image--deafult {
  width: 100%;
}

.btn-modal {
  margin: 10px 0;
}

@media only screen and (min-width: 720px) {
  .random-players__choosen {
    flex-direction: row;
  }
  .choosen-player {
    margin: 30px 0;
    padding: 0 20px;
  }
  .image--deafult {
    width: 60%;
    margin-top: 20px;
  }
}
