@import url("../../style/variable.css");

.container-random-player {
  padding-top: 20px;
  padding-bottom: 105px;
}

.random-players__choosen {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.random-players__title {
  color: var(--balck);
}

.choosen-player {
  display: block;
  width: 50%;
}

.choosen-player .player-name {
  font-size: 14px;
}

.choosen-player .player-image {
  height: 200px;
  width: 200px;
}

.MuiButton-root.btn {
  text-transform: capitalize;
  border: 2px solid var(--blue);
  background: var(--white);
  color: var(--blue);
}

.MuiButton-root.btn:hover {
  color: var(--white);
  background: var(--blue);
}