@import url("../../../style/variable.css");

.modal-room {
  width: 880px;
  height: 400px;
  position: absolute;
  top: 20%;
  left: 13%;
  background-color: var(--white);;
  color: var(--white);;
  border-radius: 30px;
  box-shadow: -2px -1px 12px #676666;
}
.modal-room__title {
  text-align: center;
  color: var(--blue);
}

.MuiTextField-root.modal-room__input-size {
  margin: 10px 0;
}

.modal-room__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-room__button .modal-room__button--save {
  text-transform: capitalize;
  color: var(--green);
  text-transform: none;
  border: 2px solid var(--green);
  margin-right: 20px;
}

.modal-room__button .modal-room__button--save:hover{
  color: var(--white);;
  background: var(--green);
}

.modal-room__button .modal-room__button--cancel {
  text-transform: capitalize;
  color: var(--yellow);
  text-transform: none;
  border: 2px solid var(--yellow);
}

.modal-room__button .modal-room__button--cancel:hover{
  color: var(--white);;
  background: var(--yellow);

}
