@import url("../../style/variable.css");

.standing__container {
  background: transparent;
}

.standing__btn-back {
  margin: 10px;
  color: var(--white);
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}

.standing__btn-back::before,
.standing__btn-back::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--blue);
  transition: width 0.3s ease;
}

.standing__btn-back::before {
  left: 0;
}

.standing__btn-back::after {
  right: 0;
}

.standing__btn-back:hover {
  color: var(--blue);
}

.standing__btn-back:hover::before,
.standing__btn-back:hover::after {
  width: 50%;
}

.standing__title {
  margin: 10px 0;
  padding-left: 10px;
  color: var(--white);
  font-weight: bold;
}

.result-table__table {
  margin-left: 4px;
  padding: 30px 0;
  overflow-x: hidden;
}

.standing__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.standing__buttons .MuiButton-root {
  margin: 0 5px;
  text-transform: capitalize;
  border: 2px solid var(--blue);
  background: var(--white);
  color: var(--blue);
}

.standing__buttons .MuiButton-root:hover {
  background: var(--blue);
  color: var(--white);
}

.standing__buttons .MuiButton-root.active {
  background: var(--blue);
  color: var(--white);
  border-color: var(--dark-blue);
}

.MuiPaper-root .result__table-container.MuiTableContainer-root {
  padding: 5px 10px 10px 5px;
  width: auto!important; 
}

@media only screen and (min-width: 576px) {
  .MuiPaper-root .result__table-container {
    overflow: hidden;
  }
}
