.container_random-player {
  padding-top: 20px;
  padding-bottom: 105px;
}

.randomPlayers-choosen {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  background: linear-gradient(45deg, black, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.choosen-player {
  display: block;
  width: 50%;
}

.choosen-player .player-name {
  font-size: 14px;
}

.choosen-player .player-image {
  height: 200px;
  width: 200px;
}

.MuiButton-root.btn {
  text-transform: capitalize;
  border: 2px solid #4343ce;
  background: #ffffff;
  color: #4343ce;
  &:hover {
    color: #fff;
    background: #4343ce;
  }
}
