@import url("../../style/variable.css");

.player__info {
  width: 720px;
  height: 100vh;
  background: transparent;
  padding-bottom: 30px;
}

.player-info__title {
  padding-left: 30px;
  color: var(--white);
  font-weight: bold;
}

.player-info__profile.MuiBox-root {
  text-align: left;
  padding-left: 30px;
  color: var(--white);
}

.player-info__image {
  width: 100%;
  img {
    width: 280px;
    height: 250px;
  }
}

.player-info {
  display: flex;
  flex-direction: column;
}

.player-info__btn-back {
  margin: 10px;
  color: var(--white);
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}

.player-info__btn-back::before,
.player-info__btn-back::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--blue);
  transition: width 0.3s ease;
}

.player-info__btn-back::before {
  left: 0;
}

.player-info__btn-back::after {
  right: 0;
}

.player-info__btn-back:hover {
  color: var(--blue);
}

.player-info__btn-back:hover::before,
.player-info__btn-back:hover::after {
  width: 50%;
}

.player-info__btn.MuiBox-root {
  padding-left: 30px;
}

.player-info__btn .player-info__btn-edit {
  color: var(--blue);
  text-transform: none;
  border: 2px solid var(--blue);
}

.player-info__btn .player-info__btn-edit:hover {
  background-color: var(--blue);
  color: var(--white);
}
