.container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.players {
  display: block;
  width: 50%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  & h2 {
    color: #000000;
  }
  & Button {
    color: #4343ce;
    text-transform: none;
    border: 2px solid #4343ce;

    &:hover {
      background-color: #4343ce;
      color: #ffffff;
    }
  }
}


.player-list {
  .image {
    img {
      width: 10%;
      height: 20%;
    }
  }
  .text {
    font-size: 16px;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.player-image {
  width: 20%;
}

.btn {
  min-width: 64px;
  padding: 6px 8px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  line-height: 1.75;
}

.profile {
  margin: 0 14px;
  color: #fdd55f;
  border: 2px solid #fdd55f;
  text-transform: capitalize;

  &:hover {
    background-color: #fdd55f;
    color: #ffffff;
  }
}

.MuiButton-root.delete {
  padding: 0px 8px;
  color: #f80e18;
  border: 2px solid #f80e18;
  &:hover {
    background-color: #f80e18;
    color: #ffffff;
  }
}
