.choosePlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player{
    display: block;
    width: 100%;
}

.player-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.player-image{
    width: 20%;
}
