@import url("../../style/variable.css");

.MuiBox-root {
  padding: 10px 5px;
}

.table-container {
  background: var(--white);
  width: 100%;
}

.result-table__heading {
  margin: 10px 0;
  padding-left: 10px;
  color: var(--black);
  font-weight: bold;
}

.result-table__btn-back {
  margin: 10px;
  color: var(--black);
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}

.result-table__btn-back::before,
.result-table__btn-back::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--blue);
  transition: width 0.3s ease;
}

.result-table__btn-back::before {
  left: 0;
}

.result-table__btn-back::after {
  right: 0;
}

.result-table__btn-back:hover {
  color: var(--blue);
}

.result-table__btn-back:hover::before,
.result-table__btn-back:hover::after {
  width: 50%;
}

.result-table__table {
  margin-left: 4px;
  padding: 30px 0;
  overflow-x: hidden;
}

.result-table__table .ressult-table__cell {
  text-align: center;
}
.MuiTableBody-root .result-table__cell {
  text-align: center;
}

.MuiPaper-root .MuiTableContainer-root {
  width: 326px;
}

@media only screen and (min-width: 340px) {
  .MuiPaper-root .MuiTableContainer-root {
    width: 400px;
  }
}
