@import url("../../../style/variable.css");

.modal-delete-player {
  position: absolute;
  left: 3%;
  top: 20%;
  max-width: 400px;
  width: 90%;
  height: 200px;
  background: var(--white);
  z-index: 1;
  border-radius: 30px;
  box-shadow: 8px 10px 24px var(--yellow);
  text-align: center;
}

.modal-delete-player__title {
  margin: 10px;
}

.modal-delete-player__actions {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.MuiButtonBase-root.btn-delete {
  color: var(--red);
  border: 2px solid var(--red);
}

.MuiButtonBase-root.btn-delete:hover {
  background-color: var(--red);
  color: var(--white);
}

.MuiButtonBase-root.btn-cancel {
  color: var(--yellow);
  border: 2px solid var(--yellow);
}

.MuiButtonBase-root.btn-cancel:hover {
  background-color: var(--yellow);
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .modal-delete-player {
    left: 22%;
  }
}

@media only screen and (min-width: 1024px) {
  .modal-delete-player {
    left: 30%;
  }
}

@media only screen and (min-width: 1440px) {
  .modal-delete-player {
    left: 35%;
  }
}
